
.main{
    background-color: aqua;
    width: 100%;
}

.nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav span:hover{
    cursor: pointer;
}
.main-cont img{
    width: 350px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 150px;
}
.cont{
    display: flex;
    margin-top: 50px;
    background-color: rgba(74, 131, 164, 0.567);
}
h1{
    
    color: rgb(64, 76, 83);
}
.desc{
    margin: 0 50px 0 50px;
}